{% extends "core/base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block title %}Рахунки{% endblock %}
{% block content %}
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-9 mb-4 mb-md-0">
      <div class="row mt-5">
        <div class="col-10">
          <h3 class="fw-bolder text-start">Рахунки</h3>
        </div>
        <div class="col">
          <a class="btn btn-outline-success fw-bolder px-4" href="{% url 'account-create' %}">Додати</a>
        </div>
      </div>
      <div class="row justify-content-center align-items-center my-3">
        {% if accounts|length == 0 %}
        <div class="col text-center mt-5">
          <h5 class="text-secondary">У вас немає рахунків</h5>
        </div>
        {% else %}
        <div class="col">
          <div class="card shadow-sm border-top-0">
            <div class="card-body">
              <div class="row justify-content-center align-items-center py-1">
                 <div class="col-1 text-center">
                  <div class=""></div>
                </div>
                <div class="col-1 text-center">
                  <div class="text-secondary fw-bolder">ID</div>
                </div>
                <div class="col-4">
                  <div class="text-secondary fw-bolder">Назва</div>
                </div>
                <div class="col-3 text-center">
                  <div class="text-secondary fw-bolder">Баланс</div>
                </div>
                <div class="col-2 text-center">
                  <div class="text-secondary fw-bolder">Валюта</div>
                </div>
                 <div class="col-1 text-center">
                  <div class=""></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% for account in accounts %}
      <div id="account-{{account.id}}" class="row justify-content-center align-items-center mb-2">
        <div class="col">
          <div class="card shadow-sm border-top-0">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-1 text-center">
                  <i class="fa-solid fa-wallet fa-xl" style="color: {{ account.color }};"></i>
                </div>
                <div class="col-1 text-center">
                  <div class="">{{ forloop.counter }}</div>
                </div>
                <div class="col-4">
                  <div class="">{{ account.name }}</div>
                </div>
                <div class="col-3 text-center">
                  <div>{{ account.balance }}{{ account.currency.symbol }}</div>
                </div>
                <div class="col-2 text-center">
                  <div class="">{{ account.currency.code }}</div>
                </div>
                <div class="col-1 text-center">
                  <button class="btn text-danger" onclick="deleteAccount('{{ account.id }}', '{{ csrf_token }}')">
                    <i class="fa-solid fa-xmark fa-lg"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>

{%  endblock %}

