<footer class="mt-auto py-3 bg-light">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div>
        <span class="text-muted">Designed by Elina Shramko.</span>
      </div>
      <div class="d-flex ms-2">
        <a href="https://www.facebook.com/ellussy" class="link-primary">
          <i class="fa-brands fa-square-facebook fa-lg"></i>
        </a>
        <a href="https://instagram.com/lin4lins?igshid=MmJiY2I4NDBkZg==" class="link-danger mx-2">
          <i class="fa-brands fa-instagram fa-lg"></i>
        </a>
        <a href="https://www.linkedin.com/in/elina-shramko" class="link-primary">
          <i class="fa-brands fa-linkedin fa-lg"></i>
        </a>
      </div>
    </div>

  </div>
</footer>