{% extends "core/base.html" %}
{% load static %}


{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid mt-3">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
        <div class="card p-3 mb-2">
          <h5 class="card-title">Cash flows</h5>
          <div id="home_cash_flow"></div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Balance</h5>
            <div id="home_balance"></div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Expense structure</h5>
            <div id="expense_structure"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}


{% block footer_js %}
  {{ block.super }}

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="{% static 'home/cash_flow.js' %}"></script>
  <script type="text/javascript" src="{% static 'home/expense_structure.js' %}"></script>
  <script type="text/javascript" src="{% static 'home/balance.js' %}"></script>

{% endblock %}