{% extends "core/base.html" %}
{% load static %}


{% block title %}Home{% endblock %}

{% block content %}

<div id="home-accounts-panel" class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 p-3">
      <div class="account-card d-flex orange">
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-wallet fa-xl"></i>
          </div>
          <div class="ms-2 ps-2">
            <div class="account-card-name">Готівка</div>
            <div class="detail"><span class="amount">12,451.00</span>  <span class="currency">&#8372</span></div>
          </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 p-3">
      <div class="account-card d-flex purple">
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-wallet fa-xl"></i>
          </div>
          <div class="ms-2 ps-2">
            <div class="account-card-name">Картка</div>
            <div class="detail"><span class="amount">12,451.00</span>  <span class="currency">&#8372</span></div>
          </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 p-3">
      <div class="account-card d-flex red">
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-wallet fa-xl"></i>
          </div>
          <div class="ms-2 ps-2">
            <div class="account-card-name">Збереження</div>
            <div class="detail"><span class="amount">12,451.00</span>  <span class="currency">&#8372</span></div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-3">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
        <div class="card">
          <div class="card-body px-0">
            <h5 class="card-title ps-3">Cash flows</h5>
            <div id="home_cash_flow"></div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
        <div class="card">
          <div class="card-body px-0">
            <h5 class="card-title ps-3">Balance</h5>
            <div id="home_balance"></div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
        <div class="card">
          <div class="card-body px-0">
            <h5 class="card-title ps-3">Структура витрат</h5>
            <div id="expense_structure"></div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
        <div class="card">
          <div class="card-body px-0">
            <h5 class="card-title ps-3">Структура доходу</h5>
            <div id="income_structure"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}


{% block footer_js %}
  {{ block.super }}

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="{% static 'home/cash_flow.js' %}"></script>
  <script type="text/javascript" src="{% static 'home/expense_structure.js' %}"></script>
  <script type="text/javascript" src="{% static 'home/income_structure.js' %}"></script>
  <script type="text/javascript" src="{% static 'home/balance.js' %}"></script>

{% endblock %}