{% load static %}

<div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light bg-light rounded">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static 'core/logo.png' %}" alt="Logo" height="35"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#header-navbar" aria-controls="header-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="header-navbar">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-center {% if active_page == 'home' %}active{% endif %}" href="{% url 'home' %}">Головна</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center {% if active_page == 'accounts' %}active{% endif %}" href="{% url 'account' %}">Рахунки</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center {% if active_page == 'categories' %}active{% endif %}" href="{% url 'category' %}">Категорії</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center {% if active_page == 'transactions' %}active{% endif %}" href="{% url 'transaction' %}">Транзакції</a>
            </li>
          </ul>
          <div class="btn-group d-flex">
            <a href="{% url 'transaction-create' %}">
                <button class="btn btn-outline-primary btn-sm me-3" type="button">
                    <i class="fa-solid fa-plus"></i>
                    Транзакція
                </button>
            </a>
            <button class="btn btn-success btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ user }}
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li class="nav-item">
                <a class="dropdown-item d-flex justify-content-between" href="{% url 'logout' %}">
                  <span>Вийти</span>
                  <span><i class="fa-solid fa-right-from-bracket"></i></span>
                </a>
              </li>
            </ul>
          </div>

        </div>

      </div>
    </nav>
</div>